[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/terminus/Desktop/STD.txt]
row=5
col=0

[/home/terminus/Desktop/userchrome.css]
row=3
col=0

[/home/terminus/Desktop/message.txt]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/terminus]
row=2
col=0

